#h2 {
  text-align: center;
}
.lorem {
  text-align: center;
  width: 350px;
}
.dummy {
  display: flex;
  flex-direction: column;
  /* margin: auto; */
  justify-content: center;
  /* margin: 120px; */
  align-items: center;
}
