<div style="width: 100%; display: flex; flex-direction: column">
  <!-- messages from other  -->
  <div
    *ngIf="message.self ? false : true"
    class="align-self-start p-1 my-1 mx-3 rounded bg-white shadow-sm message-item"
  >
    <div class="options">
      <a href="#"><i class="fas fa-angle-down text-muted px-2"></i></a>
    </div>

    <div style="display: flex; flex-direction: column">
      <div class="body m-1 mr-2">{{ message.message }}</div>
      <div
        class="time ml-auto small text-right flex-shrink-0 align-self-end text-muted"
        style="width: 75px"
      >
        {{ message.date | date: "hh:mm a" }}
      </div>
    </div>
  </div>

  <!-- self messages -->
  <div
    *ngIf="message.self ? true : false"
    class="align-self-end self p-1 my-1 mx-3 rounded bg-white shadow-sm message-item"
  >
    <div class="options">
      <a href="#"><i class="fas fa-angle-down text-muted px-2"></i></a>
    </div>

    <div style="display: flex; flex-direction: column">
      <div class="body m-1 mr-2">{{ message.message }}</div>
      <div
        class="time ml-auto small text-right flex-shrink-0 align-self-end text-muted"
        style="width: 75px"
      >
        {{ message.date | date: "hh:mm a" }}
        <i class="fas fa-check-circle"></i>
      </div>
    </div>
  </div>
</div>
