.form-rounded {
    border-radius: 1rem;
    text-align: left;
}   
.input-with-icon-inside {
    background-image:url(https://cdn1.iconfinder.com/data/icons/hawcons/32/698956-icon-111-search-512.png) !important; 
    background-repeat: no-repeat !important; 
    background-size: 25px 25px !important;
    background-position: 6px 6px !important;
    border: 1px solid rgb(255, 255, 255) !important;
    border-spacing: 5px;
    padding: 6px;
    text-indent: 28px;
  }
  textarea:hover, 
  input:hover, 
  textarea:active, 
  input:active, 
  textarea:focus, 
  input:focus,
  button:focus,
  button:active,
  button:hover,
  label:focus,
  .btn:active,
  .btn.active
  {
      outline:0px !important;
      -webkit-appearance:none;
      box-shadow: none !important;
  }