
<div class="main">
    <div class="leftbar">
        <app-top-left-toolbar></app-top-left-toolbar>
        <div [style.background]="divColor" style="padding: 10px;" >
            <app-search [placeholder]="'Search or start new chat'" (listenClick)="changeDivBg($event)"></app-search>
        </div>
        <div style="overflow: hidden;max-height: 81%;cursor: pointer;">
            <ng-container *ngFor="let number of numbers">
                <app-chat></app-chat>
            </ng-container>
        </div>
        
       
        
        
    </div>
    <mat-divider [vertical]="true"></mat-divider>
    <div class="content">
        <app-top-right-toolbar></app-top-right-toolbar>
        <div class="chat" style="display: flex;height: 90%;">
            
        </div>
    </div>
</div>

