<div class="main">
  <div class="leftbar">
    <app-top-left-toolbar></app-top-left-toolbar>
    <div [style.background]="divColor" style="padding: 10px">
      <app-search
        [placeholder]="'Search or start new chat'"
        (listenClick)="changeDivBg($event)"
      ></app-search>
    </div>
    <mat-divider></mat-divider>
    <div
      style="
        overflow: auto;
        overflow-x: hidden;
        max-height: 81%;
        cursor: pointer;
      "
    >
      <ng-container *ngFor="let contact of contacts; let i = index">
        <app-chat
          [checkActive]="activeIndex"
          (click)="getContactChat(i)"
          [contact]="contact"
          [contactIndex]="i"
        ></app-chat>
        <mat-divider style="margin-left: 80px"></mat-divider>
      </ng-container>
    </div>
  </div>
  <mat-divider [vertical]="true"></mat-divider>
  <div *ngIf="showDummy" class="content landing">
    <app-landing></app-landing>
  </div>
  <div *ngIf="!showDummy" class="content">
    <app-top-right-toolbar
      [name]="name"
      [status]="status"
      [profilepic]="profilepic"
    ></app-top-right-toolbar>
    <div
      #scrollMe
      class="chat"
      style="
        display: flex;
        height: 90%;
        width: 100%;
        overflow: auto;
        overflow-x: hidden;
        max-height: 81%;
        flex-direction: column;
      "
    >
      <div *ngFor="let message of messages" style="width: 100%">
        <app-messages [message]="message" style="width: 100%"></app-messages>
      </div>
    </div>
    <div>
      <app-send-message (sendMsg)="sendMessage($event)"></app-send-message>
    </div>
  </div>
</div>
